<nav class="navbar border-bottom navbar-expand-lg py-3 navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">      
        <img src="{{this.brandIconeUrl}}" alt="" width="35" height="35" class="d-inline-block align-text-top">
        {{data.brandName}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {{#each data.links}}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{this.url}}"> {{this.label}} </a>
          </li>
        {{/each}} 
      </ul>
      {{!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> --}}
    </div>
  </div>
</nav>
    
