<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    {{>navbar data=details}}
    

    {{!-- Service Section --}}
    <section id="services_section" class="py-4 bg2">
      <div class="container">
        <h1 class="text-center text-secondary"> Service that we Provide</h1>

        <div class="row mt-4">

          {{!-- first service col... --}}
          {{#each gallery}}
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <div class="container text-center py-3">
                    <i class="{{this.image}} service_icon text-secondary"></i>
                  </div>
                  <h5 class="card-title">{{this.title}}</h5>
                  <P>{{this.description}}</P>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>

    </section>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>