<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Hello, world!</title>
  </head>
  <body>
    {{> navbar data=details}}
    {{!-- {{> slider sliders=sliders}} --}}

    {{!-- banner1 Section --}}

    <section class="banner1_section py-5 background1">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <h1>Start Learn New Technology</h1>
            <p>Web Technology refers to the various tools and techniques that are utilized in the process of communication between different types of devices over the internet. A web browser is used to access web pages. Web browsers can be defined as programs that display text, data, pictures, animation, and video on the Internet</p>
            <button class="btn btn-outline-primary">Start Learn</button>
          </div>
        </div>
      </div>
    </section>

    {{!-- Service Section --}}
    <section id="services_section" class="py-4 bg2">
      <div class="container">
        <h1 class="text-center text-secondary"> Service that we Provide</h1>

        <div class="row mt-4">

          {{!-- first service col... --}}
          {{#each services}}
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <div class="container text-center py-3">
                    <i class="{{this.icon}} service_icon text-secondary"></i>
                  </div>
                  <h5 class="card-title">{{this.title}}</h5>
                  <P>{{this.description}}</P>
                  <a href="{{this.linkText}}">{{this.link}}</a>
                  <a href="#!">Support</a>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>

    </section>

    {{!-- banner2 Section --}}
    <section class="banner2_section py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center pt-5">
            {{!-- left Side --}}
            <h3>We Work For People Not For Money</h3>
            <p>Technology becomes such that humans don't need to work and money suddenly has literally no value. What are some major or minor societal and social changes ..</p>
            <button class="btn btn-secondary">Click Here</button>
          </div>
          <div class="col-md-6 text-center">
            {{!-- right Side --}}
            <img src="/static/images/p3.svg" alt="" class="img-fluid" style="height: 300px;">

          </div>
        </div>
      </div>
    </section>


    {{!-- banner3 Section --}}
    <section class="banner3_section py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-6 text-center">
            {{!-- right Side --}}
            <img src="/static/images/p1.jpg" alt="" class="img-fluid" style="height: 300px;">
          </div>
          <div class="col-md-6 text-center pt-5">
            {{!-- left Side --}}
            <h3>We Work For People Not For Money</h3>
            <p>Technology becomes such that humans don't need to work and money suddenly has literally no value. What are some major or minor societal and social changes ..</p>
            <button class="btn btn-secondary">Click Here</button>
          </div>
        </div>
      </div>
    </section>


    {{!-- About Us Section --}}
    <sectio class="about_section py-4" id="about_us">
      <div class="container py-5">
        <div class="row" style="height: 600px;">
          <div class="col-md-8 mt-7"  >
            <h2 class="text-center">About Us</h2>
            <P>We’re passionate about creating gorgeous, visually compelling brands. We believe branding doesn’t start or end with a logo alone, and we can assist with all aspects of branding, designing, digital marketing and UI/UX . We are a strategic and creative partner to our clients through every step of the design process, aligning inspiration, business objectives and creating visuals that tell your unique story.
                It doesn’t matter how big or small — we can help you whether you’re a start-up company trying to find your feet, or a big brand with an even bigger problem. We’re proud of the reputation we’ve built over the last few years, and the exciting range of projects we’ve had the pleasure of working on.
                In simple words, think of Claé as your secret sidekick for your brand’s creative needs. Let us take away the burden of creating high quality, authentic and original designs and creative, out of the box branding strategies so you can attract your ideal clients</P>
            <button class="btn btn-success text-center">
              Contact Us
            </button>
          </div>
          <div class="col-md-4 text-center">
            {{!-- right Side --}}
            <img src="/static/images/p2.jpg" alt="" class="img-fluid" style="height: 400px;">
          </div>
        </div>
      </div>
    </sectio>


    {{!-- Contact Us Section --}}

    <section id="contact_us_section" class="py-4 background1">
      <div class="container">
        <h3 class="text-center text-muted">Contact Us</h3>
        <div class="row">
          <div class="col-md-12">
            <form action="/process-contact-form" method ="post">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="ContactNumberFied" class="form-label">Contact Number</label>
                <input name="phone" type="number" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="form-floating my-2">
                <textarea name="query" style="height:350px;" class="form-control form-text" placeholder="Enter Your Query" id="queryField" style="height: 100px"></textarea>
                <label for="queryField">Your Query</label>
              </div>
              <div class="container text-center">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    {{!-- footer Section --}}
    <footer style="background-color:#fdf7f0 ;">
      <div class="container py-4" >
        <div class="row">
          <div class="col-md-4">
            <p class="get" style="font-size: 20px; margin-top: -10px; margin-bottom: 25px;  text-align: left; margin-left: 64px; font-family: freightdisp_light;">Get In Touch</p>
            <p  class ="ff" style=" margin-left: 65px;"> 2nd floor,
            <p class ="f" style=" margin-left: 65px;"> Pulchok, Kathmandu 44600</p>
            <p class ="fff" style=" margin-left: 65px;">info@demo.com | support@companyname.com</P>
            <p class ="fff" style=" margin-left: 65px;"> +977 9802338737 </p>
          </div>
          <div class="col-md-4">
            <p class="get" style="margin-left: 55px;font-size: 20px; margin-top: -10px; margin-bottom: 25px; font-family: freightdisp_light;">Support</p>
            <ul class="foote" ><a href="faq.html">FAQs</a></ul>
            <ul class="foot"><a href="pdf/pp.pdf" target="_blank" rel="noopener noreferrer">Privacy Policy</a></ul>
            <ul class="foot"><a href="pdf/tc.pdf" target="_blank" rel="noopener noreferrer">Terms and Conditions</a></ul>
            <ul class="foot"><a href="">Community</a></ul>
          </div>
          <div class="col-md-4">
            <p  class = " copyright" style="text-align: right; font-size: 11px; margin-left: 10px; margin-right: 40px; margin-top: -5px;">&#169; <script>document.write(new Date().getFullYear())</script> Dharmajit- All Rights Reserved </p>
            <p class = "inhouse" style="text-align: right; font-size: 12px; margin-left: 10px; margin-right: 50px; margin-bottom: 20px;">Site created: In-House </p>
            <div class="social">
              <a href="https://www.facebook.com/c" target="_blank" rel="noopener noreferrer"> <img src="/static/images/fb.png" width="7%" style="display: inline-block; margin-top: -10px; cursor: pointer;margin-left: 130px; "> </a>
              <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">  <img src="/static/images/insta.png" width="7%" style="display: inline-block; margin-top: -10px; margin-left: 5px;cursor: pointer;"> </a>
              <a href="https://www.pinterest.com/" target="_blank" rel="noopener noreferrer">  <img src="/static/images/p.png" width="7%" style="display: inline-block; margin-top: -10px;margin-left: 5px;cursor: pointer;"> </a>
              <a href="https://www.linkedin.com/" target="_blank" rel="noopener noreferrer">  <img src="/static/images/l.png" width="7%" style="display: inline-block; margin-top: -10px;margin-left: 5px;cursor: pointer;"> </a>
              <a href="https://wa.me/+9779860117137" target="_blank" rel="noopener noreferrer">  <img src="/static/images/fb.png" width="7%" style="display: inline-block; margin-top: -10px;margin-left: 5px;cursor: pointer;"> </a>     
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </body>
</html>